.tableFixHead {
    overflow-y: auto;
    height: 390px;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }


  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead tr th{
    background-color: #0EE7B7;
    border: 1px solid #000;
  }

  tbody tr td{
    border: 1px solid #000;
  }


  tbody tr:nth-child(2n) {
    background-color: #F4F4FF;
  }


  th,
  td {
    padding: 8px 16px;
    border: 1px solid #ccc;
  }
  th {
    background: #eee;
  }
